.content {
  width: 85%;
  margin: 0 auto;
}
.all-videos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0px;
  gap: 25px;
}
/* .msg {
  width: 50%;
  margin: 15px auto;
  font-size: large;
} */

.msg {
  animation-duration: 2s;
  animation-name: slidein;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 200%;
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}